/* здесь используйте глобальные переменные */
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$main-font: "Raleway", "Arial", sans-serif;
$second-font: "Comfortaa", "Century Gothic", sans-serif;
$green: #0F805D;
