/* здесь используйте глобальные переменные */
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$main-font: "Raleway", "arial", sans-serif;
$second-font: "comfortaa", "century Gothic", sans-serif;
$green: #0f805d;
$focus: #7bdb0a;
$active: $green;
