.contacts {
  padding-top: 104px;
  position: relative;
  padding-bottom: 59px;

  &::before {
    @include pseudo;
    width: 228px;
    height: 32px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../../images/icons/stack.svg#line-leaf");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 70px;
}

.contacts__inner {
  padding-left: 26px;
  padding-right: 26px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.contacts__desc {
  margin-bottom: 24px;

  p {
    text-align: center;
    font-size: 16px;
    line-height: normal;
    margin-top: 0;
  }
}

.contacts__list {
  @include list;
  margin-top: 34px;
  margin-bottom: 12px;
}

.contacts__item {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: normal;
  min-height: 32px;
  display: flex;
  align-items: center;
}

.contacts__link {
  color: #000000;
  position: relative;
  padding-left: 36px;

  &::after {
    @include pseudo;
    width: 32px;
    height: 32px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: #000000;
  }

  &--contacts-leaf::after {
    mask-image: url("../../images/icons/stack.svg#contacts-leaf");
  }

  &--contacts-email::after {
    mask-image: url("../../images/icons/stack.svg#contacts-email");
  }

  &--contacts-phone::after {
    mask-image: url("../../images/icons/stack.svg#contacts-phone");
  }

  &:hover,
  &:focus-visible {
    color: $focus;

    &::after {
      background-color: $focus;
    }
  }

  &:active {
    color: $active;

    &::after {
      background-color: $active;
    }
  }
}

@media (min-width: $tablet-width) {
  .contacts__inner {
    max-width: 528px;
  }

  .contacts {
    padding-top: 114px;
    padding-bottom: 96px;

    &::before {
      width: 296px;
      height: 42px;
    }
  }

  .contacts__desc {
    padding-left: 34px;
    text-align: left;
    margin-bottom: 40px;

    p {
      font-size: 20px;
      line-height: normal;
      text-align: left;
    }
  }

  .contacts__link {
    font-size: 16px;
    line-height: 20px;
  }

  .contacts__title {
    margin-bottom: 71px;
  }

  .contacts__list {
    margin-top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__inner {
    margin-left: 0;
    margin-right: 0;
    width: 550px;
    padding: 0;
    max-width: none;
  }

  .contacts__desc {
    padding-left: 99px;
  }

  .contacts__container {
    width: 1124px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .contacts {
    padding-top: 141px;
    padding-bottom: 80px;
  }
}
