.footer__inner {
  background-color: #f1f6fc;
  padding-top: 11px;
  padding-bottom: 20px;
}

.footer__copyright {
  font-size: 11px;
  line-height: normal;
  color: #000000;
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 28px;
  display: inline-block;
  margin-left: auto;
  margin-top: 10px;

  svg {
    position: absolute;
    top: 0;
    right: 0;
    fill: #000000;
  }

  &:hover,
  &:focus-visible {
    color: $focus;

    svg {
      fill: $focus;
    }
  }

  &:active {
    color: $active;

    svg {
      fill: $active;
    }
  }
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright-inner {
  width: 100%;
  display: flex;
}


@media (min-width: $tablet-width) {
  .footer__copyright-inner {
    width: auto;
  }

  .footer__copyright {
    font-size: 16px;
    line-height: normal;
    padding-bottom: 12px;
    padding-right: 34px;

    svg {
      width: 26px;
      height: 32px;
    }
  }

  .footer__container {
    padding-left: 20px;
  }

  .footer__inner {
    padding-top: 27px;
    padding-bottom: 22px;
  }
}

@media (min-width: $desktop-width) {
  .footer__container {
    padding-left: 36px;
    padding-right: 39px;
  }

  .footer__inner {
    padding-top: 24px;
  }
}
