.header {
  background-color: #F1F6FC;
}

.header__list {
  @include list;
  padding-top: 32px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 120px;
  background-color: #F1F6FC;
}

.header__item {
  margin-bottom: 32px;
}

.header__link {
  color: #000;
  font-size: 20px;
  line-height: normal;

  &--current  {
    color: $green;
  }

  &:hover,
  &:focus-visible {
    color: $focus;
  }

  &:active {
    color: $active;
  }
}

.header__burger {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .header__burger {
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    position: absolute;
    top: 4px;
    right: 21px;
    border: none;
    background-color: transparent;

    span {
      transition: transform 0.3s, top 0.3s;
      position: absolute;
      left: 7px;
      display: block;
      width: 45px;
      height: 5px;
      background-color: $green;
      border-radius: 4px;

      &:nth-child(1) {
        top: 15px;
      }

      &:nth-child(2) {
        top: 27px;
      }

      &:nth-child(3) {
        top: 39px;
      }
    }

    &:hover,
    &:focus-visible {
      span {
        background-color: #7BDB0A;
      }
    }
  }

  .header__wrapper {
    position: relative;
    padding: 8px 26px;
    box-shadow: 0px 4px 4px 0px rgba(88, 13, 101, 0.25);
    z-index: 4;
  }

  .header--close {
    .header__list {
      display: none;
    }
  }

  .header--no-js {
    .header__burger {
      display: none;
    }
  }

  .header--open {
    .header__burger-line {
      transition: transform 0.3s, top 0.3s;
      width: 36px;
      height: 3px;

      &:nth-child(1) {
        top: 27px;
        transform: rotate(-45deg);
      }

      &:nth-child(2) {
        top: 27px;
        transform: rotate(-45deg);
      }

      &:nth-child(3) {
        top: 27px;
        transform: rotate(45deg);
      }
    }

    .header__list {
      position: absolute;
      width: 100%;
      left: 0;
      top: 68px;
      z-index: 3;
    }
  }
}

@media (min-width: $tablet-width) {
  .header__list {
    display: grid;
    grid-template-columns: repeat(4, 112px);
    gap: 16px;
    padding: 20px 0 20px 20px;
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 26px;
  }

  .header__item {
    margin-bottom: 0;
  }

  .header {
    box-shadow: 0px 4px 4px 0px rgba(88, 13, 101, 0.25);
    position: relative;
    z-index: 3;
  }
}

@media (min-width: $desktop-width) {
  .header__nav {
    margin: 0 auto;
    padding: 24px 36px;
    max-width: 1200px;
  }
}
