.hero {
  background-image: url("../../images/hero-background@1x.jpg");
  padding-top: 60px;
  padding-bottom: 190px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #d4dde6;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/hero-background@2x.jpg");
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 32px;
}

.hero__list {
  @include list;
  padding-left: 28px;
  padding-right: 28px;
  margin-bottom: 46px;
}

.hero__item {
  position: relative;
  padding-left: 44px;
  min-height: 32px;
  padding-bottom: 6px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 12px;

  &::before {
    @include pseudo;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  &--leaf::before {
    background-image: url("../../images/icons/stack.svg#leaf");
  }

  &--bike::before {
    background-image: url("../../images/icons/stack.svg#bike");
  }

  &--snowflake::before {
    background-image: url("../../images/icons/stack.svg#snowflake");
  }
}

.hero__link {
  width: 100%;
  padding: 16px;
}

@media (min-width: $tablet-width) {
  .hero {
    background-image: url("../../images/hero-background-tablet@1x.jpg");
    padding-top: 142px;
    min-height: 902px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/hero-background-tablet@2x.jpg");
    }
  }

  .hero__container {
    padding-left: 214px;
  }


  .hero .hero__title {
    text-align: left;
    margin-bottom: 48px;
  }

  .hero__list {
    padding-left: 0;
    padding-right: 40px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 29px;
  }

  .hero__item {
    margin-bottom: 19px;
  }

  .hero__link {
    font-size: 28px;
    line-height: normal;
    letter-spacing: 1.4px;
    width: 336px;
  }
}


@media (min-width: $desktop-width) {
  .hero {
    background-image: url("../../images/hero-background-desktop@1x.jpg");
    padding-top: 176px;
    min-height: 801px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/hero-background-desktop@2x.jpg");
    }
  }

  .hero__container {
    padding-left: 450px;
  }

  .hero__list {
    padding-left: 23px;
    max-width: 530px;
    margin-bottom: 33px;
  }

  .hero__link {
    margin-left: 37px;
  }

  .hero .hero__title {
    margin-bottom: 52px;
  }
}
