.news-card {
  width: 100%;
  max-width: 348px;
  border: 2px solid $green;
  border-radius: 40px;
  background-color: #fbfcfe;
  padding: 29px 18px 71px;
  position: relative;

  &::after {
    @include pseudo;
    width: 76px;
    height: 32px;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../images/icons/stack.svg#news-leaf");
  }
}

.news-card__title {
  min-height: 68px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

.news-card__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  min-height: 208px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    margin-top: 0;
  }

  time {
    align-self: flex-end;
  }
}

@media (min-width: $tablet-width) {
  .news-card__title {
    font-size: 28px;
    margin-bottom: 24px;
    min-height: 100px;
  }

  .news-card__desc {
    font-size: 16px;
    line-height: 20px;
    min-height: 232px;
  }

  .news-card {
    padding: 32px 34px 103px;

    &::after {
      width: 96px;
      height: 40px;
      bottom: 42px;
    }
  }
}

@media (min-width: $desktop-width) {
  .news-card {
    max-width: none;
    width: 360px;
    padding-bottom: 104px;
  }

  .news-card__title {
    min-height: 98px;
  }
}
