.title {
  color: #0f805d;
  text-align: center;
  font-family: $second-font;
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 48px;
  }
}

@media (min-width: $desktop-width) {
  .title {
    font-size: 52px;
  }
}
